.search {
  color: white;
  margin-top: 6rem;
//   height: 100vh;
}
.content {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  flex: 3;
  gap: 23px;
  width: 100%;
  .image {
      width: 200px;
        height: 40vh;
        cursor: pointer;
        transition: all 400ms ;
        
    }
    span{
        height: 100%;
    }
    img {
        border-radius: 20px ;
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: all 400ms ;
        &:hover{
            transform: scale(1.1);
            transition: all 400ms ;
        }
}
}
