/*  MOb Version */
@mixin sm {
  @media screen and (max-width: 600px) {
    @content;
  }
}

/*  Tab Version */
@mixin md {
  @media screen and (max-width: 762) {
    @content;
  }
}

@mixin Flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@mixin hr{
  border-bottom: 1px solid;
      padding-bottom: .9rem;
      border-width: 0.1rem;
      border-color: rgba(153, 151, 151, 0.437);
}